[package]
name = "kafka"
version = "0.8.0"
authors = ["Yousuf Fauzan", "Petr Novotnik <pnovotnik@googlemail.com>"]
description = "Rust client for Apache Kafka"
homepage = "https://github.com/spicavigo/kafka-rust"
repository = "https://github.com/spicavigo/kafka-rust"
documentation = "https://docs.rs/kafka/"
readme = "README.md"
keywords = ["kafka", "queue"]
license = "MIT"


[dependencies]
byteorder = "1.4.1"
crc = "1.8.0"
log ="0.4.14"
ref_slice = "1.0"
fnv = "1.0"
twox-hash = "1.1"
error-chain = "0.12.3"

flate2 = { version = "1.0.19", optional = true }
snap = { version = "0.2.0", optional = true }
openssl = { version = "0.10", optional = true }

[dev-dependencies]
getopts = "0.2"
env_logger = "0.8.1"
time = "0.2.24"
rand = "0.8.2"
lazy_static = "1.3.0"


[features]
default = ["snappy", "gzip", "security"]
snappy = ["snap"]
gzip = ["flate2"]
security = ["openssl"]
nightly = []
integration_tests = []